.col-md-4 {
    text-align: center;
}

.btn {
    width: 33.3%;
    margin-top: 10px;
}

.link{
    stroke: #666;
    stroke-width: 1.5px;

}


.selector-form {
    margin-top: 20px;
    padding: 10px;
}

.table>thead>tr>th {
    text-align: center;
}